* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #EBEBEB url("../img/geometry2.png");
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #262626;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-weight: 100;
}

/* Score panel */
.stats {
    min-width: 20%;
    padding: 5px;
}

.stars {
    float: left;
}

.moves {
    margin: 0 10px;
}

.refresh {
    float: right;
    cursor: pointer;
}

/* Game board */
.game-board {
    /* display: inline-table helps with rounding error on game-board size in chrome causing ugly white lines */
    display: inline-table;
    position: relative;
    width: 33%;
    padding-bottom: 33%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
}

/* Deck of cards */
.deck {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    width: 100%;
    height: 100%;
}

/* Card styling */
.card {
    position: relative;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 20%;
    padding-bottom: 20%;
    background: transparent;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
    cursor: pointer;
    transition: transform .8s;
    transform-style: preserve-3d;
}

/* Currently flipped cards */
.open {
	transform: rotateY(-180deg);
}

/* Matched cards that stay flipped */
.match {
	transform: rotateY(-180deg);
	background: #02ccba;
}

.card-front {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #02b3e4;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	border-radius: inherit;
}

.card-back {
	position: absolute;
	height: 100%;
	width: 100%;
    background: #2e3d49;
    backface-visibility: hidden;
    border-radius: inherit;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    color: white;
}