*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background-color: #EBEBEB;
  color: #262626
}

#header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #262626;
  color: #EBEBEB;
  text-align: center;
  line-height: 40px;
}

#content {
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
  overflow: hidden;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 1%;
}

#footer {
  background-color: #EBEBEB;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  border-width: 3px 0 0 0;
  border-style: solid;
  visibility: hidden;
  padding: 1% 15%;
  display: flex;
  flex-wrap: wrap;
}

#trailer {
  width: 560px;
  height: 315px;
  margin: 0 1%;
}

#movie_info {
  flex: 1 0 40%;
  margin: 0 1%;
}

#description {
  overflow: auto;
  max-height: 200px;
}
