*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

#header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
}

#content {
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 1%;
}

#footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-width: 5px 0 0 0;
  border-style: solid;
}

#trailer {
  margin: 1%;
}

#description {
  margin: 1%;
  flex-basis: 100px;
}
